header {
    text-align:center;
    font-size:150%;
}
#wrap {
    text-align:center;
}

#nplink {
    text-align:center;
}

#wrap div {
    margin:5px;
}

#wrap p {
    background-color:#a9a9a9;
    margin:0 auto;
    width:640px;
}